<%# encoding: utf-8 %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Maps for _Let the Great World Spin_</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      #map { height: 600px; }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Five instance rolling average (blue) and cumulative average of instances in the Ciaran section of <em>Let the Great World Spin</em></h1>
      <h2>The two markers show the changes in the averages over narrative time.</h2>
      <div id="map"></div>
      <p>Geographical calculations done with the suprisingly flexible and
        friendly <a href="http://turfjs.org" target="_blank">Turf.js</a>.
        Animated markers courtesy of Leaflet&rsquo;s <a
          href="https://github.com/ewoken/Leaflet.MovingMarker"
          target="_blank">MovingMarker</a> extension. Data is by Moacir P. de S&aacute;
        Pereira and taken from <a href="http://nywalker.newyorkscapes.org"
          target="_blank">NYWalker</a>. The faint circles represent instances
        mentioned in the text, and each is connected to a line segment on the
        cumulative line by a faint grey line.</p>
    
      <p>This is part of an instance of &ldquo;everyday criticism.&rdquo; Experimentation
        is part of everyday criticism, and this was easier and more fun than
        fighting with python and ArcGIS.</p>
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.1.0.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
		<script src="/vendor/MovingMarker.js"></script>
    <script src="/vendor/turf.min.js"></script>
    <script src="/app.js"></script>

    <script>
      var map = L.map('map').setView([40, -6], 3);
      L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
        subdomains: 'abcd',
        maxZoom: 19
      }).addTo(map);

      var overlay = {};

      var allPointsGeoJSON = <%= geo_json %>;
      <% specials.each do |special| %>
        var <%= special.sub(/ /, "") %>Points = getSpecialPoints(allPointsGeoJSON, "<%= special %>");
        var <%= special.sub(/ /, "") %>RunningPoints = getRunningPoints(<%= special.sub(/ /, "") %>Points);
        var <%= special.sub(/ /, "") %>RunningLine = getRunningLine(<%= special.sub(/ /, "") %>Points);
        var <%= special.sub(/ /, "") %>AccumulatorPoints = getAccumulatorPoints(<%= special.sub(/ /, "") %>Points);
        var <%= special.sub(/ /, "") %>AccumulatorLine = getAccumulatorLine(<%= special.sub(/ /, "") %>Points);
        var <%= special.sub(/ /, "") %>RunningLineLayer = L.geoJson(<%= special.sub(/ /, "") %>RunningLine, {style: {"color": "#adaada", "weight": 3, "opacity": 0.75}});
        var <%= special.sub(/ /, "") %>RunningPointsLayer = L.geoJson(<%= special.sub(/ /, "") %>RunningPoints, {
          pointToLayer: function(feature, latlng) {
            return L.circleMarker(latlng, geojsonMarkerOptions);
          },
          onEachFeature: function(feature, layer) {
            layer.bindPopup(feature.popup);
          }
        });
        var <%= special.sub(/ /, "") %>AccumulatorLineLayer = L.geoJson(<%= special.sub(/ /, "") %>AccumulatorLine, {style: {"color": "#7800ff", "weight": 3, "opacity": 0.75}});
        var <%= special.sub(/ /, "") %>AccumulatorPointsLayer = L.geoJson(<%= special.sub(/ /, "") %>AccumulatorPoints, {
          pointToLayer: function(feature, latlng) {
            return L.circleMarker(latlng, averageMarkerOptions);
          },
          onEachFeature: function(feature, layer) {
            layer.bindPopup(feature.popup);
          }
        });
        var <%= special.sub(/ /, "") %>RunningLayer = L.layerGroup([<%= special.sub(/ /, "") %>RunningLineLayer, <%= special.sub(/ /, "") %>RunningPointsLayer]);
        var <%= special.sub(/ /, "") %>AccumulatorLayer = L.layerGroup([<%= special.sub(/ /, "") %>AccumulatorLineLayer, <%= special.sub(/ /, "") %>AccumulatorPointsLayer]);
        //var animationSteps = <%= special.sub(/ /, "") %>Points.map(function(){
        //  return 100;
        //});
        //L.Marker.movingMarker(L.geoJson(<%= special.sub(/ /, "") %>AccumulatorLine), animationSteps, {autostart: true, loop: true}).addTo(map);
        //L.Marker.movingMarker(L.geoJson(<%= special.sub(/ /, "") %>RunningLine), animationSteps, {autostart: true, loop: true}).addTo(map);

        overlay["<%= special.capitalize %> running center"] = <%= special.sub(/ /, "") %>RunningLayer;
        overlay["<%= special.capitalize %> cumulative center"] = <%= special.sub(/ /, "") %>AccumulatorLayer;
      <% end %>
      L.control.layers(null, overlay).addTo(map);


    </script>

  </body>
</html>
